<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <p class="text-muted">I'm a data-driven sales enablement and marketing technology professional with nearly four years at Salesforce, specializing in building scalable, automated communication solutions that drive visibility, accountability, and performance. By combining strategy with hands-on technical expertise in Salesforce Marketing Cloud, Slack app development, HTML, CSS, AMPscript, JavaScript, and SQL, I transform complex data into personalized, high-impact experiences for sales teams and leaders.
                    </p>
                    <p class="text-muted">
                    I have a BFA in Communication Design from Texas Tech University and completed a Full Stack Development course through <a href="https://www.bloc.io/" target="_blank">Bloc.</a> Previously a graphic designer, I shifted into a more technical, problem-solving career. I live in Louisville, Colorado with my husband and two kids.</p><br>
                    <a class="btn btn-xl" href="mailto:laura.sling@gmail.com">email me</a>
                  </p>
                </div>
            </div>
        </div>
    </section>
